<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Contact
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-progress-bar *ngIf="sending" type="indeterminate" reversed="true"></ion-progress-bar>

    <ion-list *ngIf="errorSubmission && !sending && !submitted">
        <ion-item color="danger">
            <ion-label>
                <ion-icon name="sad"></ion-icon>
                An error occurred, please try again!
            </ion-label>
        </ion-item>
    </ion-list>

    <form *ngIf="!submitted" #sendMessageForm="ngForm" (ngSubmit)="sendMessage()">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">Full Name
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input name="fullName" [(ngModel)]="message.fullName" required type="text"
                           [classList]="['is-invalid']" class="dan"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Email
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input name="email" [(ngModel)]="message.email" required type="email"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="stacked">Message</ion-label>
                <ion-textarea name="content" [(ngModel)]="message.content" required></ion-textarea>
            </ion-item>
        </ion-list>

        <div class="ion-padding">
            <ion-button id="submit-btn" expand="block" type="submit" class="ion-no-margin">
                <ion-icon name="send"></ion-icon>
                Send
            </ion-button>
        </div>
    </form>

    <ion-list *ngIf="submitted">
        <ion-item color="success">
            <ion-label>
                <ion-icon name="thumbs-up"></ion-icon>
                Your message has been sent successflly!
            </ion-label>
        </ion-item>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Name: {{message.fullName}}</ion-card-subtitle>
                <ion-card-title>Email: {{message.email}}</ion-card-title>
            </ion-card-header>

            <ion-card-content [innerText]="message.content">
            </ion-card-content>
        </ion-card>

    </ion-list>


</ion-content>
