<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Posts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>



    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['save']" color="light">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-router-outlet></ion-router-outlet>

    <!-- Display loading progress while loading articles from API -->
    <ion-progress-bar *ngIf="posts != null && posts?.length == 0" type="indeterminate"></ion-progress-bar>

    <!-- Display error message in case no article found -->
    <ion-row *ngIf="posts == null && (status == 'bad' || status == null)">
        <ion-col>
            <div class="ion-text-center">
                <ion-chip color="danger" expandable>
                    <ion-label color="danger">No post has been found!</ion-label>
                </ion-chip>
            </div>
        </ion-col>
    </ion-row>

    <!-- Display found posts retrieved from the server -->
    <ion-card *ngFor="let post of posts">
        <ion-card-header>
            <ion-icon name="create" [routerLink]="['save', post.id]"></ion-icon>
            <ion-card-title>{{post.title}}</ion-card-title>
            <ion-card-subtitle>{{post.date | date:'short'}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-img [src]="post.image"></ion-img>
        </ion-card-content>
    </ion-card>

    <!-- Skeleton screen -->
    <div *ngIf="loading">
        <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>

        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-list-header>
            <ion-item>
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
