<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <!-- Display loading progress while loading articles from API -->
    <ion-progress-bar *ngIf="articles != null && articles?.length == 0" type="indeterminate"></ion-progress-bar>

    <!-- Display error message in case no article found -->
    <ion-row *ngIf="articles == null && (status == 'bad' || status == null)">
        <ion-col>
            <div class="ion-text-center">
                <ion-chip color="danger" expandable>
                    <ion-label color="danger">No article has been found!</ion-label>
                </ion-chip>
            </div>
        </ion-col>
    </ion-row>

    <!-- Display found articles -->
    <ion-card *ngFor="let article of articles" >
        <img [src]="article.urlToImage" />
        <ion-card-header>
            <ion-card-subtitle>{{ article?.title }}</ion-card-subtitle>
            <ion-card-title>
                {{ article?.author }} | {{ article.publishedAt | date: 'short' }}
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{ article.description }}
            <ion-item-divider>
                <ion-label text-center > Content
                </ion-label>
            </ion-item-divider>

            {{ article.content }}
        </ion-card-content>
    </ion-card>

</ion-content>

